

<div class="container">
  <h1>Garden React App</h1>
  <div id="root" name="Denise" data-gardens=<%= @gardens.to_json %>></div>
</div>
<% content_for :after_js do %>
  <%= javascript_pack_tag "hello_react" %>
<% end %>
